<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interaction.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @interaction.code %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
