<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :course_title %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :course_about %>
  </div>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.text_field :admin_id, id: :course_admin_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
